*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: #383737;
    width: 507px;
    height: 57px;
}
li {
    list-style: none;
}
a {
    color: #FFFF;
    text-decoration: none;
}

.navbar{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link{
    transition: 0.5 ease;
}

.nav-link:hover{
    color:#5d5d5d
}

.menu-nav{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}
@media (max-width:768px){
    .menu-nav{
        display: block;
    }
    .menu-nav.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .menu-nav.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu-nav.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100px;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: black;
        text-align: center;
        flex-direction: 100%;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}